:root {
  --bs-font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; // Add here my custom font
}

body {
  // overflow-y: scroll; // Always show scrollbar
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  word-break: break-word;
  text-rendering: optimizeSpeed;
}
