$navbar-height: $nav-link-height + $navbar-padding-y * 2;

.#{$app-name} {
  text-align: center;

  &-main {
    position: relative;
    display: block;
    width: 100%;
    color: #fff;
    padding-top: $navbar-height;
  }
}
