$tab-max-width: 600px;

.add-watermark {
  &__tabs {
    max-width: $tab-max-width;

    button {
      transition: none;
    }

    &-tab {
      max-width: $tab-max-width;
      transition: none;
    }
  }

  &__preview {
    max-height: 400px;
  }

  &__spinner {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);

    &-bg img {
      filter: brightness(0.2);
    }
  }
}
