$tab-max-width: 600px;

.add-watermark {
  &__tabs {
    max-width: $tab-max-width;

    button {
      transition: none;
    }

    &-tab {
      max-width: $tab-max-width;
      transition: none;
    }
  }

  &__preview {
    max-height: 400px;
  }
}
