.image-compressor {
  &__upload-container {
    position: relative;
    height: 50dvh;
    max-height: 300px;
    width: 100%;
    max-width: 600px;
    border: 2px dashed var(--bs-body-color);

    label {
      position: absolute;
      text-align: center;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &-input {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
  }

  &__accordion {
    max-width: 400px;
  }

  &__quality-number {
    width: 55px;
  }

  &__compressed-image-container {
    max-width: 600px;
    transition: border-color 0.15s;
  }

  &__compressed-image-miniature {
    height: 120px;
    width: 120px;
    min-width: 120px; // Need this to force width

    @include media-breakpoint-up(sm) {
      height: 80px;
      width: 80px;
      min-width: 80px; // Need this to force width
    }

    img {
      top: 0;
      left: 0;
    }
  }

  &__download-number {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--bs-primary);
    width: 20px;
    height: 20px;
    font-size: 13px;
    border: 1px solid var(--bs-border-color);
    transform: translate(50%, -50%);
    pointer-events: none;
  }
}
