.#{$app-name} {
  &__logo {
    opacity: 0.55;
    transition: opacity 0.15s;

    &:hover {
      opacity: 0.75;
    }

    &-label {
      display: block;
      font-size: 15px;
      line-height: 11px;
      margin-top: 4px;
    }
  }
}

.active {
  .#{$app-name} {
    &__logo,
    &__logo:hover {
      opacity: 1;
    }
  }
}
