.#{$app-name} {
  &-language-switcher {
    cursor: pointer;

    svg {
      height: 1.75rem;
      width: 1.75rem;
    }
  }

  &-flag {
    cursor: pointer;

    svg {
      height: 1.75rem;
      width: 1.75rem;
    }
  }
}
